:root {
  --bg-color: #d7ccc0;
  --container-color: #f5f4f0;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6em;

  background-color: var(--bg-color);
}

.container {
  width: 960px;
  margin: 50px auto;

  background-color: var(--container-color);
}

header {
  text-align: center;
}

main {
  margin: 20px;
}

section {
  margin: 25px 0;
}

img {
  display: block;
  margin: 0 auto;

  border-radius: 50%;
  box-shadow: 0 0 0 2px rgba(#000, 0.1);
}

h1 {
  margin-bottom: 26px;
  padding-top: 20px;

  font-size: 46px;
}

h3 {
  text-decoration: underline;
}

.subtitle {
  margin-bottom: 16px;

  font-size: 30px;
}

p,
ul {
  padding: 10px 0;
}

li {
  margin: 0 20px;
}

.footer-link {
  display: block;
  text-align: center;
}
